[Desktop Entry]
Encoding=UTF-8
Name=Prcycoin
Comment=Prcycoin P2P Cryptocurrency
Comment[fr]=Prcycoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Prcycoin, eşten eşe kriptografik sanal para birimi
Exec=prcycoin-qt %u
Terminal=false
Type=Application
Icon=prcycoin128
MimeType=x-scheme-handler/prcycoin;
Categories=Office;Finance;
