/*************************************************/
/* Global CSS */
QWidget,
QHeaderView::section {
  background: transparent;
  alternate-background-color: transparent;
  selection-background-color: transparent;
  selection-color: #83faff;
  border-style: none;
  outline-style: none;
  font-size: 15px;
  color: black;
  font-family: Roboto;
  font-weight: 300;
}

QWidget:disabled {
  color: slategrey;
}
QAbstractButton:disabled,
QAbstractSpinBox:disabled,
QLineEdit:disabled,
.QValidatedLineEdit:disabled,
QComboBox:disabled,
/*QSlider::handle:horizontal:disabled {
  background: rgb(62, 78, 78);
  border: 1px solid rgb(51, 54, 54);
}*/

#line_1, #line_2, #line_3,
#line_4, #line_5, #line_6 {
  border-bottom: 1px solid gray;
  max-height: 5px;
  margin: 5px;
}

#stakingState {
  font-size: 11px;
  font-style: italic;
  padding-left: 60px;
  color: white;
}
#connectionCount {
  font-size: 11px;
  font-style: italic;
  padding-left: 52px;
  color: white;
}
#blockCount {
  font-size: 11px;
  font-style: italic;
  padding-left: 68px;
  color: white;
}

QDialog {
  min-width: 500px;
  background-color: white;
}

#lblRecentTransaction {
  font-size: 18px;
}

/*************************************************/
/* Nav Bar CSS */
#navLayout {
  background: qlineargradient(
    x1: 0 y1: 0,
    x2: 1.5 y2: 3,
    stop: 0 #5e0057,
    stop: 1 #83faff
  );
  padding: 3px;
}
QToolBar > QToolButton {
  font-size: 15px;
  font-weight: 500;
  min-width: 160px;
  padding: 12px 7px;
  color: white;
}
QToolBar > QToolButton:checked {
  color: #83faff;
  font-size: 18px;
  font-weight: bold;
}

#dapsico {
  padding: 25px;
}
#bottomToolbar > QToolButton {
  font-size: 12px;
  padding: 0;
  padding-left: 10px;
}

/*************************************************/
/* Element CSS */
QMessageBox QAbstractButton,
QMessageBox QFrame {
  border: 1px solid #83faff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin: 15px;
  border-width: 2px;
}
QMessageBox QFrame {
  padding: 0 40px 0 40px;
  border-radius: 50px;
  min-height: 100px;
  background: rgba(0,0,0,30%);
  border-width: 3px;
}
QTableWidget {
  alternate-background-color: #f7f7f7;
  selection-background-color: rgba(0, 0, 0, 20%);
}
QHeaderView::section,
QCalendar::section, QCalendar QHeaderView::section {
  min-height: 55px;
}
QTableView::item,
QTableWidgetView::item,
QHeaderView::item,
QTableView::selectrows {
  padding: 25px;
}

#labelRecoveryDescription {
  font-size: 12px;
}

/*** Check Boxes and Radio ***/
.QRadioButton::indicator,
QCheckBox::indicator {
  height: 25px;
  width: 25px;
  border-radius: 12px;
  background-color: whitesmoke;
  margin: 7px;
}
.QRadioButton::indicator:checked,
QCheckBox::indicator:checked {
  height: 20px;
  width: 20px;
  background-color: #5e2059;
  border-style: solid;
  border-radius: 13px;
  border-color: whitesmoke;
  border-width: 3px;
  margin: 7px;
}

QGroupBox {
    font: bold;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 6px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 7px;
    padding: 0px 5px 0px 5px;
}

/*** Line Edits, ComboBoxes ***/
.QValidatedLineEdit,
.QLineEdit,
QAbstractSpinBox,
QComboBox,
/* QListView, */
QComboBox QAbstractItemView,
QCalendar QCalendarWidget QWidget,
QCalendarWidget,
QCalendarWidget QWidget#qt_calendar_navigationbar,
QCalendarWidget QMenu,
QCalendarWidget QAbstractItemView:enabled,
QTextEdit {
  /* padding-left: 10px; */
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #83faff;
  border-style: solid;
  background: #f7f7f7;
  background-color: #f7f7f7;
  alternate-background-color: #f7f7f7;
  margin: 5px;
}
/* QCalendarWidget QWidget { alternate-background-color: green; } */
.QValidatedLineEdit:focus,
.QLineEdit:focus,
QAbstractSpinBox:focus,
QComboBox:focus,
QComboBox::item:selected,
QMenu::item:selected,
QTextEdit:focus {
  border-width: 4px;
  background: #a7a7a7;
}

QMenuBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 lightgray, stop:1 darkgray);
    spacing: 3px; /* spacing between menu bar items */
}

QMenuBar::item {
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #a7a7a7;
}

QMenuBar::item:pressed {
    background: #888888;
}

QToolTip {
  color: white;
  background-color: #5E1C5A;
  border: 1px solid white;
  border-radius:5px;
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
    color: black;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 lightgray, stop:1 darkgray);
}

QMenu::separator {
    background: black;
    width: 1px; /* when vertical */
    height: 1px; /* when horizontal */
}

QComboBox:checked {
  color: #83faff;
}
QComboBox::indicator {
  background-color: transparent;
}

/*** Buttons ***/
QPushButton {
  height: 25px;
  border-radius: 10px;
  background-color: #b57fb1;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 5px;
  max-width: 200px;
  border: 1px solid gray;
}

QPushButton:hover {
  background-color: #9d6f9a;
  color: #b0fcff;
  font-style: bold;
}

QPushButton:pressed {
  background-color: #a975a5;
  border-style: solid;
  border-color: #b57fb1;
  border-width: 10px;
}

QPushButton:disabled {
  background-color: gray;
  color: white;
}

QPushButton#btn_rescan{
  font-size: 19px;
}

QPushButton#btn_resync{
  font-size: 15px;
}

QPushButton#btn_day,QPushButton#btn_month,QPushButton#btn_week{
  min-height: 35px;
}

QPushButton#btnLockUnlock{
  margin-right: 9px;
  width: 20px;
  height:25px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

/*** Spin Boxes, Combo Boxes ***/
QWidget::up-button {
  border-radius: 10px 10px 0 0;
  subcontrol-origin: border;
  subcontrol-position: top right;
  width: 21px;
  padding-right: 1px;
  padding-left: 5px;
  padding-top: 2px;
  background: transparent;
  alternate-background-color: transparent;
}

QWidget::down-button,
QWidget::drop-down {
  border-radius: 0 0 10px 10px;
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  padding-right: 1px;
  padding-left: 5px;
  padding-bottom: 2px;
  width: 21px;
  background: transparent;
  alternate-background-color: transparent;
}

QWidget::up-arrow {
  image: url(":/images/upArrow_small");
}
QWidget::up-arrow:disabled {
  image: url(":/images/upArrow_small_dark");
}

QWidget::down-arrow {
  image: url(":/images/downArrow_small");
}
QWidget::down-arrow:disabled {
  image: url(":/images/downArrow_small_dark");
}

QWidget::left-arrow {
  image: url(":/images/leftArrow_small");
}
QWidget::left-arrow:disabled {
  image: url(":/images/leftArrow_small_dark");
}

QWidget::right-arrow {
  image: url(":/images/rightArrow_small");
}
QWidget::right-arrow:disabled {
  image: url(":/images/rightArrow_small_dark");
}

/*** Sliders ***/
/*QWidget::horizontal {
  height: 45px;
}*/

/*** Toggle Buttons ***/
ToggleButton > QPushButton {
  font-size: 10px;
  padding-right: 15px;
  border-radius: 10px;
}

ToggleButton > QPushButton:enabled:checked {
  background-color: black;
  color: #93faff;
  padding: 0;
  text-align: center;
  border: 1px solid #93faff;
}
#TxEntry,
#TxEntry QTableView::item,
#TxEntry QTableWidgetView::item,
#TxEntry QHeaderView::section,
#TxEntry QTableView::selectrows {
  padding: 0px;
  margin: 0px;
}
#TxEntry QPushButton {
  border-radius:0;
  border: none;
  background: transparent;
}

#secondaryTxEntry,
#secondaryTxEntry QTableView::item,
#secondaryTxEntry QTableWidgetView::item,
#secondaryTxEntry QHeaderView::section,
#secondaryTxEntry QTableView::selectrows {
  padding: 0px;
  margin: 0px;
}
#secondaryTxEntry QPushButton {
  border-radius:0;
  border: none;
  background: transparent;
}

#secondaryTxEntry > #bkg_widget {
  background-color: #f7f7f7;
}

#code_1,
#code_2,
#code_3,
#code_4,
#code_5,
#code_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0px;
  border-color: black;
}

#txtcode_1,
#txtcode_2,
#txtcode_3,
#txtcode_4,
#txtcode_5,
#txtcode_6 {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-radius: 0px;
  border-color: black;

  padding: 0px;
  background: transparent;
  background-color: transparent;
  alternate-background-color: transparent;
  margin: 0px;
}

QDialog .QTabWidget QTabBar::tab {
  background-color:#FFFFFF;
  color:#000000;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
  border-top: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:selected, QDialog .QTabWidget QTabBar::tab:hover {
  background-color:#31398c;
  color:#FFFFFF;
}

QTabWidget::pane { /* The tab widget frame */
border-top: 2px solid #5E1C5A;
}
QTabWidget::tab-bar {
left: 5px; /* move to the right by 5px */
}
/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E1E1E1, stop: 0.4 #DDDDDD, stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
border: 2px solid #C4C4C3;
border-bottom-color: #5E1C5A; /* same as the pane color */
border-top-left-radius: 4px;
border-top-right-radius: 4px;
min-width: 8ex;
padding: 2px;
}
QTabBar::tab:selected, QTabBar::tab:hover {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fafafa, stop: 0.4 #f4f4f4, stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}
QTabBar::tab:selected {
border-color: #9B9B9B;
border-bottom-color: #5E1C5A; /* same as pane color */
}
QTabBar::tab:!selected {
margin-top: 2px; /* make non-selected tabs look smaller */
}
QTabBar::tab { color: #5E1C5A; }
QTabBar::tab:selected { color: gray; }
QLineEdit#lineEdit { color: white; }
